**/bin/
**/obj/
.idea/
*.user
*.suo

# Blazor WASM скомпилированные файлы (пересобираются батником)
**/wwwroot/_framework/
**/publish/

# Данные MinIO (у каждого локальные)
data/

# Системное
.DS_Store
Thumbs.db
desktop.ini